<section class="profile-detail">
    <div class="container">
        <div class="col-md-12">
            <div class="row">
                <div class="basic-information">
                    <div class="col-md-3 col-sm-3">
                     <img src="assets/img/itsol1.png" alt="" class="img-responsive">
                      <button class="mt-5 btn form-control btn-primary bg-primary text-white"  (click)="applyJobNow()">Ứng Tuyển Ngay</button>
                    </div>

                    <div class="col-md-9 col-sm-9">
                        <div class="profile-content">
                                <h2>CÔNG TY ITSOL</h2>
                                <h3>TUYỂN DỤNG:  {{job.jobName}}</h3>
                                <ul class="information">
                                    <li><span>Địa chỉ làm việc:</span>{{job.addressWork}}</li>
                                    <li><span>Vị trí:</span>{{job.jobPosition.name}}</li>
                                    <li><span>Lương:</span>Từ:{{job.salaryMin | number: '1.0-0'}} -  Đến  {{job.salaryMax | number: '1.0-0'}}</li>
                                    <li><span>Số lượng cần tuyển:</span>{{job.qtyPerson}}</li>
                                    <li><span>Kỹ năng:</span>{{job.skills}}</li>
                                    <li><span>Quyền lợi:</span>{{job.interrest}}</li>
                                    <li><span>Thời hạn:</span>{{job.dueDate | date:'dd-MM-yyyy'}}</li>
                                    <li><span>Liên hệ:</span>Họ và tên: {{job.contact.fullName}} -  SĐT: {{job.contact.phoneNumber}}</li>
                                </ul>
                            </div>
                        </div>
                    <div class="panel panel-default">
                        <div >
                           <h2 class = "text-center">CHI TIẾT CÔNG VIỆC</h2>
                        </div>
                                            <!-- /.panel-heading -->
                        <div class="panel-body">
                        <p>{{job.description}}</p>

                        <!-- <ul>

                            <li>Software testing in a Web Applications environment.</li>
                            <li>Translate designs into responsive web interfaces</li>
                            <li>Software testing in a Web Applications/Mobile environment.</li>
                            <li>Software testing in a Web Applications environment.</li>
                        </ul> -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


</section>
