<form class="needs-validation" [formGroup]="searchForm" (ngSubmit)="onSearchJobRegister()">
  <div class="form-row">
    <div class="col-md-6 mb-3">
      <label for="validationTooltip01">Họ tên</label>
      <input type="text" class="form-control" placeholder="Họ tên" id="fullName" formControlName="fullName">
    </div>
    <div class="col-md-6 mb-3">
      <label for="validationTooltip02">Tên công việc</label>
      <input type="text" class="form-control" id="jobName" formControlName="jobName" placeholder="Tên công việc"
        required>
    </div>
  </div>
  <div class="form-row">
    <div class="col-md-4 mb-3">
      <label for="validationTooltip03">Số điện thoại</label>
      <input type="text" class="form-control" id="validationTooltip03" placeholder="Số điện thoại"
        formControlName="phoneNumber">
    </div>
    <div class="col-md-4 mb-3">
      <label for="validationTooltip04">Ngày ứng tuyển</label>
      <input type="date" class="form-control" id="validationTooltip04" formControlName="dateRegister">
    </div>
    <div class="col-md-4 mb-3">
      <label for="validationTooltip05">Ngày phỏng vấn</label>
      <input type="date" class="form-control" id="validationTooltip05" formControlName="dateInterview">
    </div>
  </div>
  <button class="btn btn-primary" type="submit" style="margin-left: 500px;" (click)="onSearchJobRegister">Tìm
    kiếm</button>
</form>
<table id="tb-view" class="table table-bordered table-sm table-hover table-striped" style="margin-top: 30px;">
  <thead>
    <tr>
      <th>Họ tên</th>
      <th>Tên công việc</th>
      <th>Ngày ứng tuyển</th>
      <th>Ngày phỏng vấn</th>
      <th>Giới tính</th>
      <th>SĐT</th>
      <th>Email</th>
      <th>Trạng thái</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let jobregister of jobregisters ">
      <td>{{jobregister.user.fullName}}</td>
      <td>{{jobregister.job.jobName}}</td>
      <td>{{jobregister.dateRegister | date:'fullDate'}}</td>
      <td>{{jobregister.dateInterview | date:'fullDate'}}</td>
      <td>{{jobregister.user.gender}}</td>
      <td>{{jobregister.user.phoneNumber}}</td>
      <td>{{jobregister.user.email}}</td>
      <td>{{jobregister.profileStatus.name}}</td>
      <td class="text-nowrap" style="width: 1px;">
        <button type="button" class="btn btn-danger" style="margin-right: 1px;"
          routerLink="/admin/jobregister/edit/{{jobregister.id}}">Chi tiết</button>
        <div>
          <a><button type="button" class="btn btn-info" (click)=" onDownloadCV(jobregister.id)" style="width: 81px;">Tải
            CV </button></a>
        </div>

        <div *ngIf="jobregister.profileStatus.id === 6|| jobregister.profileStatus.id === 5">
          <button type="button" class="btn btn-info" (click)="openPopup()" style="width: 81px;">Lý do</button>
          <div class="modal" tabindex="-1" role="dialog" [ngStyle]="{'display':displayStyle}">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h4 class="modal-title">Lý do từ chối</h4>
                </div>
                <div class="modal-body">
                  <p>{{jobregister.reason}}</p>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-danger" (click)="closePopup()">
                    Close
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div *ngIf="jobregister.profileStatus.id === 2">
          <button type="button" class="btn btn-info" (click)="openPopup()" style="width: 81px;">Đặt lịch</button>
          <form [formGroup]="editForm" (ngSubmit)="onUpdateJobRegister()">
            <input type="hidden" formControlName="id" name="id" class="form-control" id="id" value="{{jobregister.id}}">
            <div class="modal" tabindex="-1" role="dialog" [ngStyle]="{'display':displayStyle}">
              <div class="modal-dialog" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                    <h4 class="modal-title">Hẹn phỏng vấn </h4>
                  </div>
                  <div class="modal-body">
                    <div class="form-row">
                      <div class="col-md-12">
                        <label for="validationTooltip03">Thời gian phỏng vấn:</label>
                        <input type="datetime-local" class="form-control" id="dateinterview"
                          formControlName="dateinterview">
                      </div>
                      <div class="col-md-6">
                        <label for="validationTooltip04">Hình thức phỏng vấn:</label>
                        <mat-radio-group aria-label="Select an option">
                          <mat-radio-button  formControlName="methodinterview" value="offline" style="margin-right: 5px;" (change) ="closeCombobox()">Offline</mat-radio-button>
                          <mat-radio-button value="online" (change) ="openCombobox()">Online</mat-radio-button>
                          <div [ngStyle]="{'display': licensed}">
                            <select class="form-select form-select-lg mb-3" aria-label=".form-select-lg example" formControlName="methodinterview" >
                              <option value="Skype">Skype</option>
                              <option value="Google meet">Google meet</option>
                              <option value="Classroom">Classroom</option>
                            </select>
                          </div>
                        </mat-radio-group>
                      </div>
                    </div>
                    </div>
                    <div style="margin-left: 20px; margin-bottom: 10px;">
                      <button type="button" class="btn btn-danger" style="margin-right: 3px;"
                        (click)="closePopup()">Close</button>
                      <button type="button" class="btn btn-danger" (click)="onAccept(jobregister.id)">Xác nhận</button>
                    </div>
                  </div>
                </div>
              </div>
          </form>
        </div>
      </td>
    </tr>
  </tbody>
</table>
<mat-paginator style-paginator showFirstLastButtons [length]="totalRows"
[pageIndex]="currentPage" [pageSize]="pageSize"  [pageSizeOptions]="pageSizeOptions" (page)="pageChanged($event)"> </mat-paginator>