<form>
    <p>Thông tin cá nhân</p>
    <div class="form-row">
        <div class="form-group col-md-6">
            <label for="inputEmail4">Họ tên</label>
            <input type="email" class="form-control" id="inputEmail4" value="{{jobregisterps.jobRegister.user.fullName}}">
        </div>
        <div class="form-group col-md-6">
            <label for="inputPassword4">Ngày sinh</label>
            <input type="date" class="form-control" id="inputPassword4" value="{{jobregisterps.jobRegister.user.birthDay | date: 'yyyy-MM-dd'}}">
        </div>
    </div>
    <div class="form-group">
        <label for="inputAddress">Emial</label>
        <input type="text" class="form-control" id="inputAddress" value="{{jobregisterps.jobRegister.user.email}}">
    </div>
    <div class="form-group">
        <label for="inputAddress2">Địa chỉ</label>
        <input type="text" class="form-control" id="inputAddress2" value="{{jobregisterps.jobRegister.user.homeTown}}">
    </div>
    <div class="form-row">
        <div class="form-group col-md-6">
            <label for="inputCity">SĐT </label>
            <input type="text" class="form-control" id="inputCity" value="{{jobregisterps.jobRegister.user.phoneNumber}}">
        </div>
        <div class="form-group col-md-6 ">
            <label for="inputCity">Giới tính</label>
            <input type="text" class="form-control" id="inputCity" value="{{jobregisterps.jobRegister.user.gender}}">
        </div>
    </div>
    <p>Thông tin công việc</p>
    <div class="form-row">    
            <label for="inputEmail4">Tên công việc</label>
            <input type="email" class="form-control" id="inputEmail4" value="{{jobregisterps.jobRegister.job.jobName}}">
    </div>
    <div class="form-row">
        <div class="form-group col-md-6">
            <label for="inputCity">Số lượng cần tuyển </label>
            <input type="text" class="form-control" id="inputCity" value="{{jobregisterps.jobRegister.job.qtyPerson}}"> 
        </div>
        <div class="form-group col-md-6 ">
            <label for="inputCity">Trình độ học vấn</label>
            <input type="text" class="form-control" id="inputCity" >
        </div>
    </div>
    <div class="form-row">
        <div class="form-group col-md-6">
            <label for="inputCity">Mức lương </label>
            <input type="text" class="form-control" id="inputCity" value="{{jobregisterps.jobRegister.job.salary}}">
        </div>
        <div class="form-group col-md-6 ">
            <label for="inputCity">Phương thức làm việc</label>
            <input type="text" class="form-control" id="inputCity" >
        </div>
    </div>
    <div class="form-group">
        <label for="inputAddress">Kĩ năng</label>
        <input type="text" class="form-control" id="inputAddress" value="{{jobregisterps.jobRegister.job.skill}}">
    </div>
    <div class="form-group">
        <label for="inputAddress2">Mô tả</label>
        <input type="text" class="form-control" id="inputAddress2" value="{{jobregisterps.jobRegister.job.description}}">
    </div>
    <p>Thông tin ứng tuyển</p>
    <div class="form-row">
        <div class="form-group col-md-6">
            <label for="inputCity">Ngày phỏng vấn</label>
            <input type="text" class="form-control" id="inputCity" value="{{jobregisterps.jobRegister.dateInterview | date:'fullDate'}}">
        </div>
        <div class="form-group col-md-6 ">
            <label for="inputCity">Ngày nộp hồ sơ</label>
            <input type="text" class="form-control" id="inputCity" value="{{jobregisterps.jobRegister.dateRegister | date:'fullDate'}}">
        </div>
    </div>
    <div class="form-row">
        <div class="form-group col-md-6">
            <label for="inputCity">Phương thức phỏng vấn</label>
            <input type="text" class="form-control" id="inputCity" value="{{jobregisterps.jobRegister.methodInterview}}">
        </div>
        <div class="form-group col-md-6 ">
            <label for="inputCity">Tình trạng hồ sơ</label>
            <input type="text" class="form-control" id="inputCity" value="{{jobregisterps.jobRegister.profileStatus.name}}">
        </div>
    </div>
    <div class="text-nowrap" style="width: 1px;">
        <button type="button" class="btn btn-info" style="margin-right: 5px;">CV</button>
        <button type="button" class="btn btn-danger" style="margin-right: 5px;">Chỉnh sửa</button>
        <button type="button" class="btn btn-success" style="margin-right: 5px;">Cancel</button>
    </div>
</form>