<section class="profile-detail">
    <div class="container">
        <div class="col-md-12">
            <div class="row">
                <div class="basic-information">
                    <h1>Thông tin cá nhân</h1>
                    
                        <div class="form-row">
                            <div class="form-group col-md-2">
                                <input type="hidden"
                                type="id"
                                class="form-control"
                                [(ngModel)]="profile.user.id"
                                 readonly="False" class="form-control" id="inputId"
                                    placeholder="{{profile.user.id}}">
                            </div></div>
                        <div class="form-row">
                            <div class="form-group col-md-6">
                                <label for="inputFullname">Họ tên:</label>
                                <input type="text" class="form-control" id="inputFullname" value="{{profile.user.fullName}}"
                                class="form-control"
                                [(ngModel)]="profile.user.fullName"
                                >
                                
                            </div>
                            <div class="form-group col-md-6">
                                <label for="inputBirthday">Ngày sinh</label>
                                <input type="date" class="form-control" id="inputBirthday" value="{{profile.user.birthDay}}">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="inputAddress">Email</label>
                            <input type="email" class="form-control" id="inputEmail" value="{{profile.user.email}}"
                            class="form-control"
                            [(ngModel)]="profile.user.email"
                            >
                        </div>
                        <div class="form-group">
                            <label for="inputHometown">Quê quán</label>
                            <input type="text" class="form-control" id="inputHometown"
                            class="form-control"
                            [(ngModel)]="profile.user.homeTown"
                            value="{{profile.user.homeTown}}">
                        </div>
                        <div class="form-row">
                            <div class="form-group col-md-6">
                                <label for="inputPhonenumber">Số điện thoại</label>
                                <input type="text" class="form-control" id="inputPhoneNumber"
                                class="form-control"
                                [(ngModel)]="profile.user.phoneNumber"
                                value="{{profile.user.phoneNumber}}">
                            </div>
                            <div class="form-group col-md-6">
                                <label for="inputGender">Giới tính:</label>
                                <select id="inputGender" class="form-control"
                                class="form-control"
                                [(ngModel)]="profile.user.gender">
                                    <!-- <option selected>{{profile.user.gender}}</option> -->
                                    <option value="1" selected>Nam</option>
                                    <option value="0">Nữ</option>
                                    <option>...</option>
                                </select>
                            </div>
                        </div>
                    
                </div>
            </div>
            <div class="row">

                <div class="basic-information">
                    
                        <h1>Thông tin kĩ năng</h1>
                        <div class="form-row">
                            <div class="form-group col-md-12">
                                <label for="inputSkill">Skill</label>
                                <input type="text" class="form-control" id="inputSkill"
                                class="form-control"
                                [(ngModel)]="profile.skill"
                                value="{{profile.skill}}">
                                <label for="inputDesiredsalary">Mức lương mong muốn</label>
                                <input type="text" class="form-control" id="inputAddress2"
                                class="form-control"
                                [(ngModel)]="profile.desired_salary"
                                value="{{profile.desired_salary}}">
                                <label for="inputCity">Địa chỉ làm việc mong muốn</label>
                                <input type="text" class="form-control" id="inputCity"
                                class="form-control"
                                [(ngModel)]="profile.desired_working_address" 
                                value="{{profile.desired_working_address}}">
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group col-md-6">
                                <label for="inputState">Trình độ học vấn:</label>
                                <select id="inputState" class="form-control">
                                    <option selected>{{profile.academic_level.academic_name}}</option>
                                </select>
                            </div>
                            <div class="form-group col-md-6">
                                <label for="inputCity">Năm kinh nghiệm</label>
                                <input type="text" class="form-control" id="inputCity"
                                class="form-control"
                                [(ngModel)]="profile.years_experience"
                                value="{{profile.years_experience}}">
                            </div>
                        </div>
                    
                </div>
            </div>
            <div class="row">

                <div class="basic-information">
                    <form>
                        <button type="submit" (click)="updateProfile" class="btn btn-warning">Update</button>
                        <button type="submit" class="btn btn-secondary" style="float:right;">Cancel</button>
                    </form>
                </div>

            </div>

        </div>
    </div>
</section>

<!--  -->