<form [formGroup]="editForm" (ngSubmit)="onUpdateJobRegister()">
    <p>Thông tin cá nhân</p>
    <div class="form-row">
        <div class="form-group col-md-6">
            <label for="inputEmail4">Họ tên</label>
            <input type="email" class="form-control" id="inputEmail4"
                value="{{jobregisterps.jobRegister.user.fullName}}" disabled="disabled">
        </div>
        <div class="form-group col-md-6">
            <label for="inputPassword4">Ngày sinh</label>
            <input type="text" class="form-control" id="inputPassword4"
                value="{{jobregisterps.jobRegister.user.birthDay | date:'fullDate'}}" disabled="disabled">
        </div>
    </div>
    <div class="form-row">
        <div class="form-group col-md-6">
            <label for="inputCity">Email </label>
            <input type="text" class="form-control" id="inputAddress" value="{{jobregisterps.jobRegister.user.email}}"
                disabled="disabled">
        </div>
        <div class="form-group col-md-6 ">
            <label for="inputCity">Địa chỉ</label>
            <input type="text" class="form-control" id="inputAddress2"
                value="{{jobregisterps.jobRegister.user.homeTown}}" disabled="disabled">
        </div>
    </div>
    <div class="form-row">
        <div class="form-group col-md-6">
            <label for="inputCity">SĐT </label>
            <input type="text" class="form-control" id="inputCity"
                value="{{jobregisterps.jobRegister.user.phoneNumber}}" disabled="disabled">
        </div>
        <div class="form-group col-md-6 ">
            <label for="inputCity">Giới tính</label>
            <input type="text" class="form-control" id="inputCity" value="{{jobregisterps.jobRegister.user.gender}}"
                disabled="disabled">
        </div>
    </div>
    <p>Thông tin ứng tuyển</p>
    <input type="hidden" formControlName="id" name="id" class="form-control" id="id">
    <div class="form-row">
        <div class="form-group col-md-6">
            <label for="inputCity">Ngày phỏng vấn</label>
            <input type="date" class="form-control" id="dateinterview" formControlName="dateinterview">
        </div>
        <div class="form-group col-md-6 ">
            <label for="inputCity">Ngày nộp hồ sơ</label>
            <input type="date" class="form-control" id="inputCity" formControlName="dateregister">
        </div>
    </div>
    <div class="form-row">
        <div class="form-group col-md-12">
            <label for="inputCity">Phương thức phỏng vấn </label>
            <input type="text" class="form-control" id="inputCity" formControlName="methodinterview">
        </div>
    </div>
    <div class="form-row" >
        <div *ngFor=" jobregister of jobregisterps.profileStatuses; let i = index ">
            <div *ngIf="jobregisterps.jobRegister.profileStatus.name === jobregisterps.profileStatuses[i].name" style="margin-left: 25px;">
                <input type="checkbox" class="custom-control-input" id="customControlInline" formControlName="profilestatus">
                <label class="custom-control-label" for="customControlInline">{{jobregisterps.profileStatuses[i].name}}</label>
            </div>
        </div>     
    </div>
    <div class="text-nowrap" style="width: 1px;">
        <button type="button" class="btn btn-info" style="margin-right: 5px;">CV</button>
        <button class="btn btn-danger" style="margin-right: 5px;" type="submit" (click)="onUpdateJobRegister()">Chỉnh
            sửa</button>
        <button type="submit" class="btn btn-success" style="margin-right: 5px;"
            (click)="onDeleteJobRegister(jobregisterps.jobRegister.id)">Xóa</button>
        <button type="button" class="btn btn-success" style="margin-right: 5px;">Cancel</button>
    </div>
</form>