<form>
  <p>Thông tin cá nhân</p>
  <div class="form-row">
      <div class="form-group col-md-6">
          <label for="inputEmail4">Họ tên</label>
          <input type="email" class="form-control" id="inputEmail4"
              value="{{jobregisterps.jobRegister.user.fullName}}" disabled>
      </div>
      <div class="form-group col-md-6">
          <label for="inputPassword4">Ngày sinh</label>
          <input type="date" class="form-control" id="inputPassword4"
              value="{{jobregisterps.jobRegister.user.birthDay | date: 'yyyy-MM-dd'}}" disabled>
      </div>
  </div>
  <div class="form-group">
      <label for="inputAddress">Emial</label>
      <input type="text" class="form-control" id="inputAddress" value="{{jobregisterps.jobRegister.user.email}}"
          disabled>
  </div>
  <div class="form-group">
      <label for="inputAddress2">Địa chỉ</label>
      <input type="text" class="form-control" id="inputAddress2" value="{{jobregisterps.jobRegister.user.homeTown}}"
          disabled>
  </div>
  <div class="form-row">
      <div class="form-group col-md-6">
          <label for="inputCity">SĐT </label>
          <input type="text" class="form-control" id="inputCity"
              value="{{jobregisterps.jobRegister.user.phoneNumber}}" disabled>
      </div>
      <div class="form-group col-md-6 ">
          <label for="inputCity">Giới tính</label>
          <input type="text" class="form-control" id="inputCity" value="{{jobregisterps.jobRegister.user.gender}}"
              disabled>
      </div>
  </div>
  <div class="form-row">
      <p>Thông tin chi tiết công việc <button type="button" class="btn btn-info" routerLink="/admin/job/detail/{{jobregisterps.jobRegister.job.id}}">Chi tiết</button></p>
  </div>
</form>
  <p>Thông tin ứng tuyển</p>
  <div class="form-row">
      <div class="form-group col-md-6">
          <label for="inputCity">Ngày phỏng vấn</label>
          <input type="datetime" class="form-control" id="dateinterview" value="{{jobregisterps.jobRegister.dateInterview | date:'dd/MM/yyyy, h:mm a'}}"
          disabled>
      </div>
      <div class="form-group col-md-6 ">
          <label for="inputCity">Ngày nộp hồ sơ</label>
          <input type="datetime" class="form-control" id="inputCity" value="{{jobregisterps.jobRegister.dateRegister | date:'dd/MM/yyyy, h:mm a'}}"
          disabled>
      </div>
  </div>
  <div class="form-row">
      <div class="form-group col-md-12">
          <label for="inputCity">Phương thức phỏng vấn </label>
          <input type="text" class="form-control" id="inputCity" value="{{jobregisterps.jobRegister.methodInterview}}"
          disabled>
      </div>
  </div>
<form [formGroup]="editForm" (ngSubmit)="onUpdateJobRegister()">
  <input type="hidden" formControlName="id" name="id" class="form-control" id="id">
  <div class="form-row">
      <div style="margin-bottom: 10px;">
          <div *ngIf="jobregisterps.jobRegister.profileStatus.name === 'WAITING'" style="margin-left: 5px;">
              <button type="button" class="btn btn-info" style="width: 81px;" (click)="onBrowsing()">Duyệt</button>
              <button type="button" class="btn btn-info" (click)="openPopup1()">Từ chối ứng viên</button>
              <div class="modal" tabindex="-1" role="dialog" [ngStyle]="{'display':displayStyle1}">
                  <div class="modal-dialog" role="document">
                      <div class="modal-content">
                          <div class="modal-header">
                              <h4 class="modal-title">Lý do từ chối</h4>
                          </div>
                          <div class="modal-body">
                              <input type="text" class="form-control" id="inputCity" formControlName="reason">
                          </div>
                          <div class="modal-footer">
                              <button type="button" class="btn btn-danger" (click)="closePopup1()">
                                  Close
                              </button>
                              <button class="btn btn-danger" style="margin-right: 5px;" type="submit"
                                  (click)="onRefuse()">Lưu</button>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
          <div *ngIf="jobregisterps.jobRegister.profileStatus.name === 'INTERVIEW'" style="margin-left: 5px;">
              <button type="button" class="btn btn-info" (click)="openPopup1()">Từ chối ứng viên</button>
              <div class="modal" tabindex="-1" role="dialog" [ngStyle]="{'display':displayStyle1}">
                  <div class="modal-dialog" role="document">
                      <div class="modal-content">
                          <div class="modal-header">
                              <h4 class="modal-title">Lý do từ chối</h4>
                          </div>
                          <div class="modal-body">
                              <input type="text" class="form-control" id="reason" formControlName="reason">
                          </div>
                          <div class="modal-footer">
                              <button type="button" class="btn btn-danger" (click)="closePopup1()">
                                  Close
                              </button>
                              <button class="btn btn-danger" style="margin-right: 5px;" type="submit"
                                  (click)="onRefuse()">Lưu</button>
                          </div>
                      </div>
                  </div>
              </div>
              <button type="button" class="btn btn-info" (click)="openPopup()" style="width: 81px;">Đặt lịch</button>
              <div class="modal" tabindex="-1" role="dialog" [ngStyle]="{'display':displayStyle}">
                  <div class="modal-dialog" role="document">
                      <div class="modal-content">
                          <div class="modal-header">
                              <h4 class="modal-title">Hẹn phỏng vấn </h4>
                          </div>
                          <div class="modal-body">
                              <div class="form-row">
                                  <div class="col-md-12">
                                      <label for="validationTooltip03">Thời gian phonge vấn:</label>
                                      <input type="datetime-local" class="form-control" id="dateinterview"
                                          formControlName="dateinterview">
                                  </div>
                                  <div class="col-md-12">
                                      <label for="validationTooltip04">Hình thức phỏng vấn:</label>
                                      <mat-radio-group aria-label="Select an option">
                                          <mat-radio-button value="offline" formControlName="methodinterview"
                                              style="margin-right: 5px;" (change)="closeCombobox()">Offline
                                          </mat-radio-button>
                                          <mat-radio-button value="online" (change)="openCombobox()">Online
                                          </mat-radio-button>
                                          <div [ngStyle]="{'display': licensed}">
                                              <select class="form-select form-select-lg mb-3"
                                                  aria-label=".form-select-lg example"
                                                  formControlName="methodinterview">
                                                  <option value="Skype">Skype</option>
                                                  <option value="Google meet">Google meet</option>
                                                  <option value="Classroom">Classroom</option>
                                              </select>
                                          </div>
                                      </mat-radio-group>
                                  </div>
                              </div>
                          </div>
                          <div style="margin-left: 20px; margin-bottom: 10px;">
                              <button type="button" class="btn btn-danger" style="margin-right: 3px;"
                                  (click)="closePopup()">Close</button>
                              <button type="button" class="btn btn-danger" (click)="onSchedule()">Xác
                                  nhận</button>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
          <div *ngIf="jobregisterps.jobRegister.profileStatus.name === 'INTERVIEWING'" style="margin-left: 5px;">
              <button type="button" class="btn btn-info" style="width: 81px;" (click)="onRecruit()">Tuyển</button>
              <button type="button" class="btn btn-info" (click)="openPopup1()">Từ chối ứng viên</button>
              <div class="modal" tabindex="-1" role="dialog" [ngStyle]="{'display':displayStyle1}">
                  <div class="modal-dialog" role="document">
                      <div class="modal-content">
                          <div class="modal-header">
                              <h4 class="modal-title">Lý do từ chối</h4>
                          </div>
                          <div class="modal-body">
                              <input type="text" class="form-control" id="reason" formControlName="reason">
                              <div *ngIf="reason?.invalid && (reason?.dirty || reason?.touched)" class="alert alert-danger">
                                <div *ngIf="reason?.errors?.['required']">
                                  Lý do không được để trống
                                </div>
                              </div>
                          </div>
                          <div class="modal-footer">
                              <button type="button" class="btn btn-danger" (click)="closePopup1()">
                                  Close
                              </button>
                              <button class="btn btn-danger" style="margin-right: 5px;" type="submit"
                                  (click)="onRefuse()">Lưu</button>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
          <div *ngIf="jobregisterps.jobRegister.profileStatus.name === 'SUCCESS'" style="margin-left: -9px;">
              <div class="form-group col-md-12">
                  <label for="inputCity">Trạng thái hồ sơ </label>
                  <input type="text" class="form-control" style="width: 600px;" id="inputCity" value="Đã tuyển" disabled>
              </div>
          </div>
          <div *ngIf="jobregisterps.jobRegister.profileStatus.name === 'LOST'" style="margin-left: 5px;">
              <button type="button" class="btn btn-info btn-lg" (click)="openPopup()">Ứng viên bị từ chối</button>
              <div class="modal" tabindex="-1" role="dialog" [ngStyle]="{'display':displayStyle}">
                  <div class="modal-dialog" role="document">
                      <div class="modal-content">
                          <div class="modal-header">
                              <h4 class="modal-title">Lý do từ chối</h4>
                          </div>
                          <div class="modal-body">
                              <input type="text" class="form-control" id="reason" formControlName="reason">
                          </div>
                          <div class="modal-footer">
                              <button type="button" class="btn btn-danger" (click)="closePopup()">
                                  Close
                              </button>
                          </div>
                      </div>
                  </div>
              </div>

          </div>
          <div *ngIf="jobregisterps.jobRegister.profileStatus.name === 'REJECT_INTERVIEW'" style="margin-left: 5px;">
              <div class="form-group col-md-12">
                  <button type="button" class="btn btn-info btn-lg" (click)="openPopup()">Ứng viên từ chối ứng
                      tuyển</button>
                  <div class="modal" tabindex="-1" role="dialog" [ngStyle]="{'display':displayStyle}">
                      <div class="modal-dialog" role="document">
                          <div class="modal-content">
                              <div class="modal-header">
                                  <h4 class="modal-title">Lý do từ chối</h4>
                              </div>
                              <div class="modal-body">
                                  <input type="text" class="form-control" id="inputCity" formControlName="reason">
                              </div>
                              <div class="modal-footer">
                                  <button type="button" class="btn btn-danger" (click)="closePopup()">
                                      Close
                                  </button>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
  <div class="text-nowrap" style="width: 1px;">
      <button type="button" class="btn btn-info" style="margin-right: 5px;"
          (click)="onDownloadCV(jobregisterps.jobRegister.id)">Tải CV</button>
      <button class="btn btn-danger" style="margin-right: 5px;" type="submit" (click)="onUpdateJobRegister()">Chỉnh
          sửa</button>
      <button type="submit" class="btn btn-success" style="margin-right: 5px;"
          (click)="onDeleteJobRegister(jobregisterps.jobRegister.id)">Xóa</button>

      <button type="button" class="btn btn-success" style="margin-right: 5px;">Cancel</button>
  </div>

</form>
