<!--Navbar -->
<nav class="mb-1 bootsnav navbar navbar-expand-lg navbar-dark info-color">
  <div class="collapse navbar-collapse" id="navbarSupportedContent-555">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="#"
          >Trang chủ
          <span class="sr-only">(current)</span>
        </a>
      </li>
    </ul>
  </div>
  <div class="collapse navbar-collapse" id="navbarSupportedContent-4">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item dropdown">
        <a class="nav-link" href="#" routerLink="/login">Đăng Nhập</a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link" href="#" (click)="onLogout()">Đăng xuất</a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link" href="companies.html" [routerLink]="['/authen/change-password']"
          >Đổi mật khẩu</a>
      </li>
      <li class="nav-item dropdown">
        <p style="margin-top: 27.5px;">Xin chao:{{name}}</p>
      </li>
        
    </ul>
  </div>
</nav>


