
<section class="jobs">
  <ul class="nav nav-tabs">
    <li class="active"><a data-target=".tab-pane" data-toggle="tab">All</a></li>
    <li><a data-target="#tab1" data-toggle="tab">Việc lương cao</a></li>
    <li><a data-target="#tab2" data-toggle="tab">Việc mới đăng</a></li>
    <li><a data-target="#tab3" data-toggle="tab">Việc tuyển gấp</a></li>
  </ul>
  <div class="tab-content">
    <div id="tab1" class="tab-pane active">
      <div class="company-list" *ngFor="let item of datas">
        <div class="row" routerLink="/user/job/{{item.id}}">
          <div class="col-md-2 col-sm-2">
            <div class="company-logo">
              <img src="assets/img/itsol1.png" class="img-responsive" alt="" />
            </div>
          </div>
          <div class="col-md-10 col-sm-10">
            <div class="company-content">
              <h3>
                {{item.jobName}}<span class="full-time"
                  ><i class="fa fa-money"></i> {{item.salary | number: '1.0-0'}}</span
                >
              </h3>
              <p>
                <span class="company-name"
                  ><i class="fa fa-briefcase"></i>ITSOL</span
                ><span class="company-location"
                  ><i class="fa fa-map-marker"></i> {{item.addressWork}}</span
                ><span class="package"
                  ><i class="fas fa-calendar-alt"></i>Hạn nộp hồ sơ: {{item.dueDate  | date:'dd-MM-yyyy'}}</span
                >
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="row" >
        <input type="button" class="btn brows-btn" value="Xem thêm" (click)="showmoreJobHeightSalaryOnclick()" />
      </div>
    </div>
    <div id="tab2" class="tab-pane">
      <div class="company-list" *ngFor="let item of datas">

        <div class="row" >
          <div class="col-md-2 col-sm-2">
            <div class="company-logo">
              <a href="job/{{item.id}}"> <img src="assets/img/itsol1.png" class="img-responsive" alt=""  routerLink="/user/job/{{item.id}}"/></a>
            </div>
          </div>
          <div class="col-md-10 col-sm-10">
            <div class="company-content">
              <h3>
                {{item.jobName}}<span class="full-time"
                  ><i class="fa fa-money"></i> {{item.salary | number: '1.0-0'}}</span
                >
              </h3>
              <p>
                <span class="company-name"
                  ><i class="fa fa-briefcase"></i>ITSOL</span
                ><span class="company-location"
                  ><i class="fa fa-map-marker"></i> {{item.addressWork}}</span
                ><span class="package"
                  ><i class="fas fa-calendar-alt"></i>Hạn nộp hồ sơ: {{item.dueDate  | date:'dd-MM-yyyy'}}</span
                >
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <input type="button" class="btn brows-btn" value="Xem thêm" (click)="showmoreJobNewJobsOnclick()" />
      </div>
    </div>
    <div id="tab3" class="tab-pane">
      <div class="company-list" *ngFor="let item of datas">
        <div class="row" routerLink="/user/job/{{item.id}}">
          <div class="col-md-2 col-sm-2">
            <div class="company-logo">
              <img src="assets/img/itsol1.png" class="img-responsive" alt="" />
            </div>
          </div>
          <div class="col-md-10 col-sm-10">
            <div class="company-content">
              <h3>
                {{item.jobName}}<span class="full-time"
                  ><i class="fa fa-money"></i> {{item.salary | number: '1.0-0'}}</span
                >
              </h3>
              <p>
                <span class="company-name"
                  ><i class="fa fa-briefcase"></i>ITSOL</span
                ><span class="company-location"
                  ><i class="fa fa-map-marker"></i> {{item.addressWork}}</span
                ><span class="package"
                  ><i class="fas fa-calendar-alt"></i>Hạn nộp hồ sơ: {{item.dueDate  | date:'dd-MM-yyyy'}}</span
                >
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <input type="button" class="btn brows-btn" value="Xem thêm" (click)="showmoreJobDeadLineOnclick()" />
      </div>
    </div>
  </div>
</section>

<section class="testimonials dark">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div id="testimonial-slider" class="owl-carousel">
          <div class="testimonial">
            <div class="pic">
              <img src="assets/img/client-1.jpg" alt="" />
            </div>
            <p class="description">
              " Lorem ipsum dolor sit amet, consectetur adipisicing elit. Autem
              commodi eligendi facilis itaque minus non odio, quaerat ullam unde
              voluptatum? "
            </p>
            <h3 class="testimonial-title">williamson</h3>
            <span class="post">Web Developer</span>
          </div>

          <div class="testimonial">
            <div class="pic">
              <img src="assets/img/client-2.jpg" alt="" />
            </div>
            <p class="description">
              " Lorem ipsum dolor sit amet, consectetur adipisicing elit. Autem
              commodi eligendi facilis itaque minus non odio, quaerat ullam unde
              voluptatum? "
            </p>
            <h3 class="testimonial-title">kristiana</h3>
            <span class="post">Web Designer</span>
          </div>

          <div class="testimonial">
            <div class="pic">
              <img src="assets/img/client-3.jpg" alt="" />
            </div>
            <p class="description">
              " Lorem ipsum dolor sit amet, consectetur adipisicing elit. Autem
              commodi eligendi facilis itaque minus non odio, quaerat ullam unde
              voluptatum? "
            </p>
            <h3 class="testimonial-title">kristiana</h3>
            <span class="post">Web Designer</span>
          </div>

          <div class="testimonial">
            <div class="pic">
              <img src="assets/img/client-4.jpg" alt="" />
            </div>
            <p class="description">
              " Lorem ipsum dolor sit amet, consectetur adipisicing elit. Autem
              commodi eligendi facilis itaque minus non odio, quaerat ullam unde
              voluptatum? "
            </p>
            <h3 class="testimonial-title">kristiana</h3>
            <span class="post">Web Designer</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="pricind">
  <div class="container">
    <div class="col-md-4 col-sm-4">
      <div class="package-box">
        <div class="package-header">
          <i class="fa fa-cog" aria-hidden="true"></i>
          <h3>Professional</h3>
        </div>
        <div class="package-info">
          <ul>
            <li>3 Designs</li>
            <li>3 PSD Designs</li>
            <li>4 color Option</li>
            <li>10GB Disk Space</li>
            <li>Full Support</li>
          </ul>
        </div>
        <div class="package-price">
          <h2><sup>$ </sup>10<sub>/Month</sub></h2>
        </div>
        <button type="submit" class="btn btn-package">Sign Up</button>
      </div>
    </div>
    <div class="col-md-4 col-sm-4">
      <div class="package-box">
        <div class="package-header">
          <i class="fa fa-star-half-o" aria-hidden="true"></i>
          <h3>Standard</h3>
        </div>
        <div class="package-info">
          <ul>
            <li>3 Designs</li>
            <li>3 PSD Designs</li>
            <li>4 color Option</li>
            <li>10GB Disk Space</li>
            <li>Full Support</li>
          </ul>
        </div>
        <div class="package-price">
          <h2><sup>$ </sup>110<sub>/Month</sub></h2>
        </div>
        <button type="submit" class="btn btn-package">Sign Up</button>
      </div>
    </div>
    <div class="col-md-4 col-sm-4">
      <div class="package-box">
        <div class="package-header">
          <i class="fa fa-cube" aria-hidden="true"></i>
          <h3>Premium</h3>
        </div>
        <div class="package-info">
          <ul>
            <li>3 Designs</li>
            <li>3 PSD Designs</li>
            <li>4 color Option</li>
            <li>10GB Disk Space</li>
            <li>Full Support</li>
          </ul>
        </div>
        <div class="package-price">
          <h2><sup>$ </sup>170<sub>/Month</sub></h2>
        </div>
        <button type="submit" class="btn btn-package">Sign Up</button>
      </div>
    </div>
  </div>
</section>

<section class="membercard dark">
  <div class="container">
    <div class="row">
      <div class="col-md-4 col-sm-4">
        <div class="left-widget-sidebar">
          <div class="card-widget bg-white user-card">
            <div
              class="u-img img-cover"
              style="
                background-image: url(assets/img/bg-1.jpg);
                background-size: cover;
              "
            ></div>
            <div class="u-content">
              <div class="avatar box-80">
                <img
                  class="img-responsive img-circle img-70 shadow-white"
                  src="assets/img/avatar3.jpg"
                  alt=""
                />
                <i class="fa fa-circle-o fa-green"></i>
              </div>
              <h5>Sazzel Shi</h5>
              <p class="text-muted">UX/ Designer</p>
            </div>
            <div class="user-social-profile">
              <ul>
                <li>
                  <a href=""><i class="fa fa-facebook"></i></a>
                </li>
                <li>
                  <a href=""><i class="fa fa-google-plus"></i></a>
                </li>
                <li>
                  <a href=""><i class="fa fa-twitter"></i></a>
                </li>
                <li>
                  <a href=""><i class="fa fa-instagram"></i></a>
                </li>
                <li>
                  <a href=""><i class="fa fa-linkedin"></i></a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4 col-sm-4">
        <div class="left-widget-sidebar">
          <div class="card-widget bg-white user-card">
            <div
              class="u-img img-cover"
              style="
                background-image: url(assets/img/bg-2.jpg);
                background-size: cover;
              "
            ></div>
            <div class="u-content">
              <div class="avatar box-80">
                <img
                  class="img-responsive img-circle img-70 shadow-white"
                  src="assets/img/avatar2.jpg"
                  alt=""
                />
                <i class="fa fa-circle-o fa-green"></i>
              </div>
              <h5>Daniel Dezox</h5>
              <p class="text-muted">CEO Founder</p>
            </div>
            <div class="user-social-profile">
              <ul>
                <li>
                  <a href=""><i class="fa fa-facebook"></i></a>
                </li>
                <li>
                  <a href=""><i class="fa fa-google-plus"></i></a>
                </li>
                <li>
                  <a href=""><i class="fa fa-twitter"></i></a>
                </li>
                <li>
                  <a href=""><i class="fa fa-instagram"></i></a>
                </li>
                <li>
                  <a href=""><i class="fa fa-linkedin"></i></a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4 col-sm-4">
        <div class="left-widget-sidebar">
          <div class="card-widget bg-white user-card">
            <div
              class="u-img img-cover"
              style="
                background-image: url(assets/img/bg-3.jpg);
                background-size: cover;
              "
            ></div>
            <div class="u-content">
              <div class="avatar box-80">
                <img
                  class="img-responsive img-circle img-70 shadow-white"
                  src="assets/img/avatar1.jpg"
                  alt=""
                />
                <i class="fa fa-circle-o fa-green"></i>
              </div>
              <h5>Silp Sizzer</h5>
              <p class="text-muted">Human Resource</p>
            </div>
            <div class="user-social-profile">
              <ul>
                <li>
                  <a href=""><i class="fa fa-facebook"></i></a>
                </li>
                <li>
                  <a href=""><i class="fa fa-google-plus"></i></a>
                </li>
                <li>
                  <a href=""><i class="fa fa-twitter"></i></a>
                </li>
                <li>
                  <a href=""><i class="fa fa-instagram"></i></a>
                </li>
                <li>
                  <a href=""><i class="fa fa-linkedin"></i></a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="newsletter">
  <div class="container">
    <div class="row">
      <div class="col-md-10 col-sm-10 col-md-offset-1 col-sm-offset-1">
        <h2>Want More Job & Latest Job?</h2>
        <p>
          Subscribe to our mailing list to receive an update when new Job
          arrive!
        </p>
        <div class="input-group">
          <input
            type="text"
            class="form-control"
            placeholder="Type Your Email Address..."
          />
          <span class="input-group-btn">
            <button type="button" class="btn btn-default">subscribe!</button>
          </span>
        </div>
      </div>
    </div>
  </div>
</section>
