
<div class="sidebar" data-image="../assets/img/sidebar-5.jpg">
    <div class="sidebar-wrapper">
        <div class="logo">
            <a href="http://www.creative-tim.com" class="simple-text">
                NHÓM 2
            </a>
        </div>
        <ul class="nav">
            <li>
              <a class="nav-link" [routerLink]="['/admin/je']" >
                  <i class="nc-icon nc-circle-09"></i>
                  <p>List JE</p>
              </a>
          </li>
          <!-- <li>
            <a class="nav-link" [routerLink]="['/admin/user']" >
                <i class="nc-icon nc-circle-09"></i>
                <p> List User </p>
            </a>
        </li> -->
            <li>
                <a class="nav-link" [routerLink]="['/admin/job']">
                    <i class="nc-icon nc-notes"></i>
                    <p>Quản lý job</p>
                </a>
            </li>
            <li>
                <a class="nav-link" [routerLink]="['/admin/jobregister']" >
                    <i class="nc-icon nc-paper-2"></i>
                    <p>Hồ sơ ứng viên</p>
                </a>
            </li>
        </ul>
    </div>
</div>
