<section id="userAdd">
  <div class="container p-2">
    <div class="row mt-2">
      <div class="col-8 offset-2">
        <!-- <app-message>
        </app-message> -->
        <hr />
        <form [formGroup]="addUser" >
          <div class="card">
            <div class="card-header">
              <h3 class="text-center">Tạo mới tài khoản</h3>
            </div>
            <div class="card-body">
              <div class="form-group col-md-6">
                <label for="name">Name</label>
                <input
                  type="text"
                  formControlName="fullName"
                  class="form-control"
                  name="name"
                  id="name"
                  aria-describedby="helpid"
                  placeholder="name"
                />
                <div *ngIf="fullName?.invalid && (fullName?.dirty || fullName?.touched)" class="alert alert-danger">
                  <div *ngIf="fullName?.errors?.['required']">
                    Tên không được để trống
                  </div>
                  <div *ngIf="fullName?.errors?.['minlength']">
                    Tên phải ít nhất 6 kí tự
                  </div>
                </div>
              </div>
              <div class="form-group col-md-6">
                <label for="email">Email</label>
                <input
                  type="email"
                  formControlName="email"
                  class="form-control"
                  name="name"
                  id="email"
                  aria-describedby="emailHid"
                  placeholder="Email"
                />
                <div *ngIf="email?.invalid && (email?.dirty || email?.touched)" class="alert alert-danger">
                  <div *ngIf="email?.errors?.['required']">
                    Email không được để trông
                  </div>
                  <div *ngIf="email?.errors?.['email']">
                    Email phải đúng định dạng
                  </div>
                </div>
              </div>
              <div class="form-group col-md-6">
                <label for="userName">UserName</label>
                <input
                  type="userName"
                  formControlName="userName"
                  class="form-control"
                  name="userName"
                  id="userName"
                  aria-describedby="userNameHid"
                  placeholder="userName"
                />
                <div *ngIf="userName?.invalid && (userName?.dirty || userName?.touched)" class="alert alert-danger">
                  <div *ngIf="userName?.errors?.['required']">
                    Tên tài khoản  không được để trông
                  </div>
                  <!-- <div *ngIf="userName?.errors?.['minlength']">
                    Tên tài khoản  phải lớn hơn 5 kí tự
                  </div> -->
                </div>
              </div>
              <div class="form-group col-md-6">
                <label for="password">Password</label>
                <input
                  type="password"
                  formControlName="password"
                  class="form-control"
                  name="password"
                  id="password"
                  aria-describedby="passwordHid"
                  placeholder="Password"
                />
                <div *ngIf="password?.invalid && (password?.dirty || password?.touched)" class="alert alert-danger">
                  <div *ngIf="password?.errors?.['required']">
                    Mật khẩu không được để trống
                  </div>
                  <div *ngIf="password?.errors?.['minlength']">
                    Mật khẩu phải lớn hơn 6 kí tự
                  </div>
                  <div *ngIf="password?.errors?.['maxlength']">
                    Mật khẩu phải nhỏ hơn 8 kí tự
                  </div>
                </div>
              </div>
              <div class="form-group col-md-6">
                <label for="phone">Phone</label>
                <input
                  type="phone"
                  formControlName="phoneNumber"
                  class="form-control"
                  name="phone"
                  id="phone"
                  aria-describedby="phoneHid"
                  placeholder="phone"
                />
                <div *ngIf="phoneNumber?.invalid && (phoneNumber?.dirty || phoneNumber?.touched)" class="alert alert-danger">
                  <div *ngIf="phoneNumber?.errors?.['required']">
                    Sdt không được để trống.
                  </div>
                  <div *ngIf="phoneNumber?.errors?.['minlength']">
                    Sđt phải 10 số.
                  </div>
                  <div *ngIf="phoneNumber?.errors?.['maxlength']">
                    Sđt phải 10 số.
                  </div>
                  <div *ngIf="phoneNumber?.errors?.['pattern']">
                     Sđt phải là số.
                  </div>
                </div>
              </div>
              <div class="form-group col-md-6">
                <label for="homeTown">HomeTown</label>
                <input
                  type="homeTown"
                  formControlName="homeTown"

                  class="form-control"
                  name="homeTown"
                  id="homeTown"
                  aria-describedby="homeTownHid"
                  placeholder="homeTown"
                />
                <div *ngIf="homeTown?.invalid && (homeTown?.dirty || homeTown?.touched)" class="alert alert-danger">
                  <div *ngIf="homeTown?.errors?.['required']">
                    Địa chỉ  không được để trống
                  </div>
                </div>
              </div>
              <div class="form-group col-md-6">
                <label for="gender">Gender</label>
                <!-- <input
                  type="gender"
                  formControlName="gender"
                  class="form-control"
                  name="gender"
                  id="gender"
                  aria-describedby="genderHid"
                  placeholder="gender"
                /> -->
                <select
                formControlName="gender"
                class="form-control"
                name="gender"
                id="gender"
                aria-describedby="genderHid"
                placeholder="gender">
                  <option  value="Nam">Nam</option>
                  <option  value="Nữ">Nữ</option>
              </select>

              <!-- <mat-form-field appearance="fill">
                <mat-label>Favorite food</mat-label>
                <mat-select [(ngModel)]="selectedValue" name="food">
                  <mat-option *ngFor="let food of foods" [value]="food.value">
                    {{food.viewValue}}
                  </mat-option>
                </mat-select>
              </mat-form-field> -->

                <div *ngIf="gender?.invalid && (gender?.dirty || gender?.touched)" class="alert alert-danger">
                  <div *ngIf="gender?.errors?.['required']">
                    Giới tính không được để trống
                  </div>
                </div>
              </div>
              <div class="form-group col-md-6">
                <label for="birthDay">BirthDay</label>
                <input
                  type="date"
                  formControlName="birthDay"
                  class="form-control"
                  name="birthDay"
                  id="birthDay"
                  aria-describedby="birthDayHid"
                  placeholder="birthDay"
                />
                <div *ngIf="birthDay?.invalid && (birthDay?.dirty || birthDay?.touched)" class="alert alert-danger">
                  <div *ngIf="birthDay?.errors?.['required']">
                    Ngày sinh không được để trống
                  </div>
                </div>

              </div>
              <button
                type="submit"
                class="btn btn-primary"
                (click)="save()"
              >
                Đăng kí
              </button>
            </div>
            <div class="card-footer text-muted"></div>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>
